.ant-modal-content {
    border-radius:42px !important;
   padding-bottom: 20px;
   padding-top: 10px;
  }
  .ant-modal-header{
    padding: 32px !important;
  }
  .ant-modal-header{
    border-radius: 42px 42px 0 0 !important;
  }
  .ant-modal-footer{
    padding: 32px !important;
    
  }

  .parent-list{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
  }
  .ant-btn-primary{
    background-color: 'red' !important;
    color:"red" !important
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50px auto; 
    margin-top: 30px;
  }
  .wrapper3 {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
   }

   .@{class-prefix}-contact-item2 {
    .align-items(center);
    .flex-display(flex, row, wrap);
    padding: 8px 28px;
  
    &:not(:last-child) {
      border-bottom: @border-style-base @border-width-base @border-color;
    }
  }
  .@{class-prefix}-module-list-icon2 {
    .flex-display(flex, row, wrap);
    .align-items(center);
    padding-right: 10px;
  
    & .@{class-prefix}-bar-icon {
      & .@{class-prefix}-icon-menu:before {
        top: 3px;
        position: relative;
      }
    }
  }
  